/* Ghi chú Ctrl+D: chọn các cái giống nhau
Alt+Shift mũi tên sang phải
Ctrl+Shift+L: chọn nhiều cái để sửa một lượt
Alt+ mũi tên: di chuyển 1 vùng đi lên */
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433,#f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

/* Hiện thông tin user */
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
    animation: fadeIn ease-in 0.2s;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
} 

.header__navbar-user-menu {
    position: absolute;
    padding-left:  0;
    /* top: calc(100% + 4px); */
    top: 28px;
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    z-index: 2; /* cho nó nằm đè lên trên */
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
/* tạo mũi nhọn */
.header__navbar-user-menu ::before {
    content: "";
    border-width: 19px 22px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 22px;
    top: -32px;
}
/* Cầu nối */
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 65%;
    height: 8px;
}

.header__navbar-user-item {

}


.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    justify-content: flex-end;
    align-items: center;
    padding: 9px 12px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color:#FDFBFA;
    color: #ed4a05;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;  
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--gachdoc::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px soli #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 4px;
}

.header__navbar-iconn {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header qr code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute; /* qr nổi đè lên trên */
    left: 0;
    top:118%;
    padding: 8px;
    border-radius: 2px;  
    display: none;
    animation: fadeIn ease-in .2s;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.3);
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
    justify-content: space-between;
}

/* Header notify */

.header__notify {
    position: absolute;
    z-index: 1;
    top: 118%;
    width: 404px;
    right: 0;
    border-radius: 2px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top; /*dịch tâm của tbao ở giữa */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity transform; /* thuộc tính gì sẽ thay đổi */
    display: none;  
}

/* hiển thị thông báo */
.header__notify ::before {
    content: "";
    border-width: 20px 27px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify ::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px; /* cho nó đi lên */
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}


.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    cursor: text; /* có  thể copy */
    user-select: none; /* không thể copy */
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-item--viewed {
    background-color: rgba(238,73,43,0.08);;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriptiop {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem; /* chữ dịch lên */
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}
/* dislpay: flex; margin: auto; căn giữa */
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Auth Modal */
.auth-form {
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center ; /*Để nằm ngang theo chiều ngang khi cái cao cái thấp  */
    justify-content: space-between; /*để cách xa nhau  */
    margin-top: 12px;
} 

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 650;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2.5px;
    outline: none; /* click vô input không hiện viền */
}

.auth-form__input:focus { /* nháy chuột, border đổi màu */
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
}

.auth-form_text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
}

.auth-form_controls--back {
    margin-right: 8px;
}

.auth-form_socials {
    background-color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form_socials-icon {
    font-size: 1.8rem;
}

.auth-form_socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form_socials-google {
    color: #666;
    background-color:  var(--white-color);
}


.auth-form_socials--facebook
.auth-form_socials-icon {
    color: var(--white-color);
}

.auth-form_socials-title {
    margin-top: 0 24px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    margin-bottom: 40px;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0px;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
    z-index: 1;
}


.header__logo {
    width: 200px;
}

.heaeder__logo-link {
    color: transparent; /* khỏi tạo border xanh xanh */
    text-decoration: none;
}

.header__logo-img {
    width: 115px;
    padding-left: 45px;
    color: var(--white-color);
    /* width: 150px;
    height: 90px;
    border-radius: 100%; */
}

.header__search {
    flex: 1; /* chiếm hết chiều ngang thanh tìm kiếm */
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
    z-index: 1;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 17px;;
}

.header__cart-list {
    position: absolute;
    top: 100%;
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgb(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh; /* view port height*/
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #F8F8F8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);;
}
.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px ;
    color: #757575;
}
.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #b05d41;
}

/* Cầu nối lớp giả */
.header__cart-list::after {
    content: ""; 
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}


.header__cart-list--no-cart {
    padding: 0 24px;
}
.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list--no-cart .header__cart-no-cart-img
.header__cart-list--no-cart .header__cart-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list-no-cart-msg {
    display: none;
  /*  display: block;*/
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px ;
    top: 5px;
    right: -5px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 60px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px; 
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

 .header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 2.5px);
    width: 122px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 3px;
    display: none; 
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top:-10px;
    left: 0;
} 

.header__search-select:hover .header__search-option {
    display: block;

}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
    position: relative;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 4px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 8.64px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-flex;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}
/* Search History */

.header__search-history {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189,189, 189);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    font-size: 400;
    color: #999999;
}

.header__search-history-list {
    padding-left: 0 ;
    list-style: none;
    margin: 6px  0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px; 
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}
/* App container */

.app__container {
    background-color: #f5f5f5;
}
/* Cho các cái ở dưới cách navbar */
.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);

}

.category__heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 16px 16px 0;
    margin-top: 0;  
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    position: relative;
    top: -1px;
    margin-right: 4px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
    padding: 5px 0;
}

.category-item:hover {
    background: #f0f0f0;    
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 20px;
    display: block;
    transition: right linear 0.2s;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
    /* right: -4px; */
    transition: .2s;
}

/* Home sort and filter */
.home-filter {
    background-color: rgb(0, 0, 0, 0.04);
    align-items: center;
    padding: 12px 22px;
    display: flex;
    border-radius: 2px;
    font-size: 1.4rem;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto; /* đẩy sang phải */
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {    
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto; /* icon nằm giữa  */
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    position: relative; /* nằm dưới */
    background-color: var(--white-color);
    margin-top: 10px;
    text-decoration: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 0.7rem;
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    /* transform: translateY(-2px);  dịch thẻ lên  */
    /* box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05); */
    transform: translateY(-2px);
    box-shadow: 0 1px 3px  #fc3301;
}

.home-product-item__img {
    padding-top: 100%; /* BẰNG CHIỀU NGANG THẰNG CHỨA NÓ */
    background-repeat: no-repeat;
    background-size: contain; /* để nếu thay ảnh lớn thì vẫn chứa hết */
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem; 
    padding: 0 10px;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*dấu 3 chấm */
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}


.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}


.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: #f63030;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked  .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: -1px 0 0 auto; /*đẩy sang phải tự động */
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.home-product-item__brand {

}

.home-product-item__origin-name {
    margin-left: auto;
}


.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::after {  /* tam giác */
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px ;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 226, 64, 0.94);
}


.home-product-item__sale-off::after { /*2 góc nhọn tam giác */
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    color: rgba(255, 226, 64, 0.94);
    border-color:transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    position: relative;
    top: 1px;
    font-weight: 600;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
}

.pagination-item__link:hover {
    color: #EE4D2D;
    transform: scale(1.2);
}

/* Footer */

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0 ;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item_icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
    /* object-fit: contain; */
    margin-right: 16px;
}

.footer__download-apps {
    display: flex;
    margin-left: -2px;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 22px;
}

.footer__download-app-link {
    text-decoration: none;
    color: var(--text-color);
}

.footer__text {
    display: flex;
    padding: .3125rem;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    margin: 3rem 14rem -3rem;
}

.footering {
    color: #7a7e80;
    font-size: 1.4rem;
    margin-bottom: 32px;
    margin-top: 32px;
}

.footering {
    color: #7a7e80;
    margin-bottom: 32px;
    margin-top: 32px;
    font-size: 1.2rem;
    padding: 2px 10px;
}

.region {
    display: inline-flex;
}

.Area {
    font-size: 1.4rem;
}

.country__link {
    text-decoration: none;
    color: #737373;
    padding: 2px 10px;
    font-size: 1.2rem;
    border-right: 1px solid rgba(0,0,0,.09);
    padding-right: 4px;
}

.country__link:hover {
    color: var(--primary-color);
}

.footer_bottom {
    padding: 8px 0;
    margin-top: 30px;
    background-color: #F5F5F5;
    border-top: 4px solid var(--primary-color);
}

.footer__text-note {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}
/* 
.info {
    padding-bottom: 40px ;
}

.info_list {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.info_list-item {
    list-style: none;
}

.info_list-item_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 20px ;
    display: flex;
    border-right: 1px solid rgba(0,0,0,.09);
}

.info_list-item_link:hover {
    color: var(--primary-color);
} */

.footer_bottom-info {
    padding: 30px 0px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info_list {
    text-decoration: none;
    text-transform: uppercase;
    color: #737373;
    padding: 2px 20px;
    font-size: 1.2rem;
    border-right: 1px solid rgba(0,0,0,.09);
}

.info_list:hover {
    color: var(--primary-color);
}

.info_list-delete--separate{
    border-right: none;
}

